$main-bg-color: hsl(222, 26%, 31%);
$bg-keypad: hsl(223, 31%, 20%);
$bg-screen: hsl(224, 36%, 15%);
$text-color: #fff;
$text-color-dark: hsl(221, 14%, 31%);


$BtnDanger: hsl(6, 63%, 50%);
$BtnDangerShadow: hsl(6, 70%, 34%);

$BtnPrimary: hsl(30, 25%, 89%);
$BtnPrimaryShadow: hsl(28, 16%, 65%);

$BtnSecondary: hsl(225, 21%, 49%);
$BtnSecondaryShadow: hsl(224, 28%, 35%);



@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}